<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>贪凉记</h1>
  <script type="module">
    class Developer {
      constructor(firstname, lastname) {
        this.firstname = firstname
        this.lastname = lastname
      }

      getName() {
        return `${this.firstname} ${this.lastname}`
      }
    }

    const developer = new Developer('Inline', 'Script')

    console.log(developer.getName())

    // import Developer2 from '/javascripts/modules/Developer.js'
  </script>
  <script type='module' src='/javascripts/modules/Developer.js'></script>
</body>
</html>